:root {
    --ou-crimson: rgb(132,22,23)
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}


/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: var(--ou-crimson);
}

    /* Style the topnav links */
    .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 2%;
        text-decoration: none;
    }

        /* Change color on hover */
        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

input[type=button] {
    background-color: var(--ou-crimson);
    border: none;
    color: blanchedalmond;
    text-decoration: none;
    margin: 4%;
    padding: 2% 20%;
    cursor: pointer;
}

    input[type=button]:focus {
        background-color: #f2f2f2;
        color:black;
        cursor: pointer;
    }


table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: var(--ou-crimson);
    color: blanchedalmond;
    text-align:center;
}

table, th, td {
    border: 1px solid black;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}
